<html>
<head>
  <title>View Posts</title>
  <link rel = "stylesheet" href = "/static/themes/confirmpost.css">
  <link href="https://fonts.googleapis.com/css?family=Domine" rel="stylesheet">
</head>
<body>
  <header class = "header3">
  <header class = "header2">
  <header class = "header1">
    <h1 class = "page-title">Volun-Tutor</h1>
    <p class= "spacer"></p>
    <nav>
      <a class = "navlinks" href = "/">Home</a>
      <a class = "navlinks" href = "/profile">Profile</a>
      <a class = "navlinks" href = "/post">Post</a>
      <a class = "navlinks" href = "/view_posts">Feed</a>
      <a class = "navlinks" href = "{{logout_url}}">Log Out</a>
    </nav>
  </header>
  </header>
  </header>
  <br>
  <br>
  <br>
  <br>
  <div class = "container">
  <h1 id = "heading"> Your Post Can Now Be Seen By Tutors</h1>
  <div class = "postBox">

  <div class = "Feed_post"
  <h1 id="title"> {{title}} </h1>
  <p id="content">{{content}}</p>
  </div>

</div>
</div>
</body>
</html>
