<html>
<head>
<link rel="stylesheet" href="/static/themes/create_profile.css">
<link href="https://fonts.googleapis.com/css?family=Domine" rel="stylesheet">
</head>
<body>
  <header class = "header3">
  <header class = "header2">
  <header class = "header1">
    <h1 class = "page-title">Volun-Tutor</h1>
    <p class= "spacer"></p>
    <nav>
      <a class = "navlinks" href = "/templates/index.html">Home</a>
      <a class = "navlinks" href = "google.com">About</a>
      <a class = "navlinks" href = "google.com">News</a>
    </nav>
  </header>
  </header>
  </header>

<br>
<br>
<br>
<h1>Create Profile</h1>
<br>
<form method = "post">
<h4>Name:</h4>
<input class = "input" type = "text" name = "name"/> <br/>
<h4>Grade</h4>
<input class = "input" type = "text" name = "grade"/> <br/>
<h4>Zipcode</h4>
<input class = "input" type = "text" name = "zipcode"/> <br/>
<h4>Type of user</h4>

<select class = "type" name = "type">
 <option value="student">Student</option>
 <option value="tutor">Tutor</option>
</select>

<input type = "submit" value = "Submit"/>

</form>
</body>
</html>
