<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="../static/themes/index.css">
    <meta charset="utf-8">
    <title>Home Page</title>
  </head>
  <center>
<div class="title">
  <h1 id="heading">Welcome to Voluntutor!</h1>
  <h3 id="subheading">The #1 site for connecting students to volunteer tutors</h3>

</div>
  </center>
  <body>
    <form class="signup_login" action="index.html" method="post">
      <button type="submit" name="login">Login</button>
      <button type="submit" name="login">Sign up</button>
    </form>
  </body>
  <br>
  <br>
  <br>
  <div class="tutoringgif">
    <center>
    <img src="../static/themes/tutoring.gif" >
  </center>
  </div>
</html>
