<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/static/themes/template.css">
    <link rel="stylesheet" href="/static/themes/index.css">

    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Domine" rel="stylesheet">
    <title>Home Page</title>
  </head>
  <body>
    <header class = "header3">
    <header class = "header2">
    <header class = "header1">
      <h1 class = "page-title">Volun-Tutor</h1>
      <p class= "spacer"></p>
      <nav id = "nav">
        <a class = "navlinks" href = "/">Home</a>
        {% if user %}
          {% if current_user == None %}
          <a class = "navlinks" href = "/create_profile">Join</a>
          {% else %}
          <a class = "navlinks"  href = "/profile">Profile</a>
          <a class = "navlinks" href = "/post">Post</a>
          <a class = "navlinks" href = "/view_posts">Feed</a>
          <a class = "navlinks" href = "{{logout_url}}">Log Out</a>
          {% endif %}
        {% else %}
        <a class = "navlinks" href = "/join">Join</a>
        {% endif %}
      </nav>
    </header>
    </header>
    </header>

<br><br>
    <div class="title">
    <h2 id="heading">Welcome to Volun-Tutor!</h2>
    <h3 id="subheading">The #1 site for connecting students to volunteer tutors</h3>
    <br/>
    <!-- <form class="signup_login" action="index.html" method="post"> -->
      <!-- <button type="submit" name="login">Login</button> -->

      <div class="w3-container">


      <!-- <div class="w3-content" style="max-width:800px">
        <img class="mySlides" src="static/themes/tutorImg1.jpg" style="width:100%">
        <img class="mySlides" src="static/themes/tutorImg2.jpg" style="width:100%">
        <img class="mySlides" src="static/themes/tutorImg5.jpg" style="width:800px">
        <img class="mySlides" src="static/themes/tutorImg4.jpg" style="width:100%">
      </div> -->
      <div id = "slides">
      <div class="w3-content w3-display-container" style="max-width:800px">
      <div class = "slides_container">
        <div class="w3-left w3-hover-text-khaki arrows" onclick="plusDivs(-1)">&#10094;</div>
        <img class="mySlides" src="static/themes/tutorImg1.jpg"  style="width:100%">
        <img class="mySlides" src="static/themes/tutorImg2.jpg" style="width:100%">
        <img class="mySlides" src="static/themes/tutorImg4.jpg" style="width:100%">
        <img class="mySlides" src="static/themes/tutorImg5.jpg" style="width:100%">
        <div class="w3-right w3-hover-text-khaki arrows" onclick="plusDivs(1)">&#10095;</div>
     </div>
     </div>
  </div>

  <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" id = "radio_row">
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white radio_buttons" onclick="currentDiv(1)"></span>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white radio_buttons" onclick="currentDiv(2)"></span>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white radio_buttons" onclick="currentDiv(3)"></span>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white radio_buttons" onclick="currentDiv(4)"></span>
  </div>


    <li class='website_features'>Are you a Tutor? <br/> Find students who are seeking your help</li>
    <br/>
    <li class='website_features'>Are you searching for a Tutor? <br/> Find tutors near you</li>
    <br/>
    <!-- <div class="tutoringgif">
      <img src="../static/themes/tutoring.gif">
    </div> -->



 <script src = "/static/scripts/index.js"></script>
</body>
  </body>
</html>
