<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/static/themes/index.css">
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Domine" rel="stylesheet">
    <title>Home Page</title>
  </head>
  <body>
    <header class = "header3">
    <header class = "header2">
    <header class = "header1">
      <h1 class = "page-title">Volun-Tutor</h1>
      <p class= "spacer"></p>
      <nav>
        <a class = "navlinks" href = "/">Home</a>
        {% if user %}
          {% if current_user == None %}
          <a class = "navlinks" href = "/create_profile">Create Profile</a>
          {% else %}
          <a class = "navlinks"  href = "/profile">Profile</a>
          <a class = "navlinks" href = "/post">Post</a>
          <a class = "navlinks" href = "/view_posts">Feed</a>
          <a class = "navlinks" href = "{{logout_url}}">Log Out</a>
          {% endif %}
        {% else %}
        <a class = "navlinks" href = "/join">Log In/Join</a>
        {% endif %}
      </nav>
    </header>
    </header>
    </header>

<br><br>
    <div class="title">
    <h2 id="heading">Welcome to Volun-Tutor!</h2>
    <h3 id="subheading">The #1 site for connecting students to volunteer tutors</h3>
    <br/>
    <!-- <form class="signup_login" action="index.html" method="post"> -->
      <!-- <button type="submit" name="login">Login</button> -->
    <li class='website_features'>Are you a Tutor? <br/> Find students who are seeking your help</li>
    <br/>
    <li class='website_features'>Are you searching for a Tutor? <br/> Find tutors near you</li>
    <br/>
    <form class= 'login_button'>
         <input class= "button" type="button" value="Log In/Sign Up" onclick="window.location.href='/join' " />
    </form>
    <br/>
    <div class="tutoringgif">
      <img src="../static/themes/tutoring.gif">
    </div>
   </div>
  </body>
</html>
