<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="/static/themes/template.css">                                           .css"> --> -->
  <link rel = "stylesheet" href = "/static/themes/login.css">
  <link href="https://fonts.googleapis.com/css?family=Domine" rel="stylesheet">
<body>
<br>
<header>Volun-Tutor</header>
<br>
<br>
<br>
<div class = "container">
<h2> Login </h2>

<form method = "post">
Username:
<input type = "text" name = "username"/> <br/>
Password:
<input type = "password" name = "password"/> <br/><br/>
<input type = "submit" value = "Submit"/>

</form>
</div>
</body>

</html>
