<html>
<head>
  <title>Login</title>
  <link rel = "stylesheet" href = "/static/themes/create_post.css">
  <link href="https://fonts.googleapis.com/css?family=Domine" rel="stylesheet">
</head>
<body>
<form method="post">
    Create a Post: <br/>

    Title: <input type="text" name="title" value=""><br/>
    Name: <input type="text" name="title" value=""><br/>
    Post: <br/>
    <textarea rows="4" cols="50" name = "post"> </textarea>
    <br/>
    <input type="submit" value="Submit Post">
  </form>

</body>
</html>
