<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="/static/themes/template.css">
  <link rel = "stylesheet" href = "/static/themes/create_post.css">
  <link href="https://fonts.googleapis.com/css?family=Domine" rel="stylesheet">
</head>
<body>
  <header class = "header3">
  <header class = "header2">
  <header class = "header1">
    <h1 class = "page-title">Volun-Tutor</h1>
    <p class= "spacer"></p>
    <nav>
        <a class = "navlinks" href = "/">Home</a>
        <a class = "navlinks" href = "/profile">Profile</a>
        <a class = "navlinks" href = "/post">Post</a>
        <a class = "navlinks" href = "/view_posts">Feed</a>
        <a class = "navlinks" href = "{{logout_url}}">Log Out</a>
    </nav>
  </header>
  </header>
  </header>

<br>
<br>
<br>
<h2> Create a Post:</h2>
<br>
<br>
<form class = "form" method="post">

    Title: <input type="text" class = "input" name="title" value=""><br/>
    Name: <input type="text" class = "input" name="title" value=""><br/>
    Post: <br/>
    <textarea rows="4" cols="50" name = "post" class = "input"> </textarea>
    <br/>
    <input class = "button" type="submit" value="Submit Post">
  </form>

</body>
</html>
