<html>
<head>
  <title>Login</title>
  <link rel = "stylesheet" href = "/static/themes/signup.css">
  <link href="https://fonts.googleapis.com/css?family=Domine" rel="stylesheet">
</head>
<body>

  <br>
  <header>Volun-Tutor</header>
  <br>
  <br>
  <br>
<div class = "container">
<h2> Sign Up </h2>

<form method = "post">
Name:
<input type = "text" name = "Username" placeholder= "name"/> <br/>
Email:
<input type = "text" name = "Email" placeholder= "email"/> <br/>
Password:
<input type = "password" name = "Password" placeholder= "password"/> <br/>
Zip code:
<input type = "number" name = "Zip Code" placeholder= "zipcode"/> <br/>
Grade level:
<input type = "text" name = "Grade Level" placeholder= "grade"/> <br/>


<select name = "type">
  <option value="student">Student</option>
  <option value="tutor">Tutor</option>
</select> <br/>
<br>
<input type = "submit" value = "Submit"/>
</form>
<br>

</div>
</body>
</html>
