<html>

<h1> Signup Test Page </h1>

<form method = "post">


<input type = "text" name = "email" placeholder= "email"/> <br/>
<input type = "text" name = "username" placeholder= "name"/> <br/>
<input type = "password" name = "password" placeholder= "password"/> <br/>
<input type = "number" name = "zipcode" placeholder= "zipcode"/> <br/>
<input type = "number" name = "grade" placeholder= "grade"/> <br/>


<select name = "type">
  <option value="student">Student</option>
  <option value="tutor">Tutor</option>
</select> <br/>

<input type = "submit" value = "Submit"/>
</form>

</html>
