<html>
<head>
  <title>View Posts</title>
  <link rel = "stylesheet" href = "/static/themes/view_posts.css">
  <link href="https://fonts.googleapis.com/css?family=Domine" rel="stylesheet">
</head>
<body>
  <div class = "holder">
  <header class = "header3">
  <header class = "header2">
  <header class = "header1">
    <h1 class = "page-title">Volun-Tutor</h1>
    <p class= "spacer"></p>
    <nav>
      <a class = "navlinks" href = "/">Home</a>
      {% if user %}
        {% if current_user == None %}
        <a class = "navlinks" href = "/create_profile">Join</a>
        {% else %}
        <a class = "navlinks"  href = "/profile">Profile</a>
        <a class = "navlinks" href = "/post">Post</a>
        <a class = "navlinks" href = "{{logout_url}}">Log Out</a>
        {% endif %}
      {% else %}
      <a class = "navlinks" href = "/join">Join</a>
      <a class = "navlinks" href = "{{logout_url}}">Log Out</a>
      {% endif %}
    </nav>
  </header>
  </header>
</div>
  <br>
  <br>
  <br>
  <div class = "container">
  <h1 id = "heading"> {{feed_name}}</h1>
  <div class = "postBox">

  {% for i in range(length)%}
  <div class = "Feed_post"
  <h1 id="title"> {{title[i]}} </h1>

  <form method = "post">
  <h6> Name: {{author[i]}} </a> </h6>
  </form>

  <p id="content">{{content[i]}}</p>
  </div>
  <hr class = "line" width = "750">
  {% endfor %}

</div>
</div>
</body>
</html>
