<html>
<head>
  <title>View Posts</title>
  <link rel = "stylesheet" href = "/static/themes/view_posts.css">
  <link href="https://fonts.googleapis.com/css?family=Domine" rel="stylesheet">
</head>
<body>
  <br>
  <header>Volun-Tutor</header>
  <br>
  <br>
  <br>
  <div class = "container">
  <h1 id = "heading"> Student Feed</h1>
  <div class = "postBox">
  <h2>{{post}}</h2>

  {% for i in range(length)%}

  <h5> Title: {{titlelist[i]}}, Name: {{name}}, Content: {{contents[i]}}</h5>
  {% endfor %}

</div>
</div>
</body>
</html>
