body, body *{
  /* border: 1px solid purple; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: 5px auto;
  /* width: 85%; */
  font-family: 'Domine', serif;
}
html{
  background-color: #EFD9CE;
}
  .spacer{
    flex-grow: 1;
  }
  nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 250px;
    justify-content: space-around;
    margin: 0;

    /* background-color: #6B7D7D; */
  }

  .header1{
    padding: 8px, 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: flex-start; */
    width: 97%;
    padding: 10px;
    align-content: space-between;
    background-color: #6B7D7D;
  }
  .header3{
    padding: 8px, 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: flex-start; */
    width: 97.1%;
    padding: 10px;
    align-content: space-around;
    background-color: #CCB7AE;
  }
  .header2{
    padding: 8px, 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: flex-start; */
    width: 97.2%;
    padding: 10px;
    align-content: space-between;
    background-color: #8FBB99
  }

  .navlinks{
    height: fit-content;
    color: black;
  }
  .input{
    border-radius: 7px;
  }
.type{
  width: 130px;
  height: 20px;
}
