
body{
  background: url('bground.jpg') repeat-Y;
  background-attachment:;
  background-size: cover;

}
.title{

  background-position: center;
  /* background-attachment:fixed; */
  color: black;
  /* text-shadow: 3px 2px black; */
  font-family: cursive;
  /* background-size: 70% ; */
  font-size: 150%;
}
.signup_login{
  float: right;
}
img{
  height: 400px;
  width: 400px;
}
.login_button{
  border-width: thick;
  color: white;
  width: 15%;
}
.website_features{
  text-align: center;
}

.button{
  color: black;
  background-color: #6B7D7D;
  height: 35px;
  text-align: center;
  font-size: 75%;
}

.w3-section{
  width: 150px;
  display: flex;
  flex-direction: row;
}
.buttons{
  width: 100px;
  display: flex;
  flex-direction: row;
}
a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}
.arrows{
  cursor: pointer;
  margin: 30px;
  height: 30%;
  width: 5%;
}
#slides{
  display: inline;
}
.slides_container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.radio_buttons{
  font-weight: bold;
  /* background-color: red !important; */
  /* radius: 50% !important; */
  height: 15px;
  width: 10px;
  border-width: 2px !important;

}

#radio_row{
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 25%;

}
