.title{

  background-position: center;
  background-attachment:fixed;
  color: White;
  text-shadow: 3px 2px black;
  font-family: cursive;
  background-size: 70% ;
}
body{
  background: url('bground.jpg') repeat-Y;
  background-attachment:;
  background-size: cover;
}
.signup_login{
  float: right;
}
img{
  height: 125px;
  width: 75;
}
