body, body *{
  font-family: 'Domine', serif;
}
h1{
  text-align: center;
}
.container{
  width: 300px;
  margin-left: auto ;
  margin-right: auto ;
  line-height: 300%;
  text-align: center;
  border-radius: 25px;
  border: 5px solid lightblue;
  /* box-sizing: border-box */

}
header{
  text-align: right;
  font-size: 200%;
  font-style: italic;
  color: lightblue;
  /* text-decoration-style: wavy; */


}
