.card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
width: 30%;
margin: auto;
text-align: center;
font-family: arial;
}

.title {
font-style: italic;
font-weight: bold;
}
p{
color: grey;
font-size: 18px;
}

button {
border: none;
outline: 0;
display: inline-block;
padding: 8px;
color: white;
background-color: #000;
text-align: center;
cursor: pointer;
width: 100%;
font-size: 18px;
display: flex;
flex-direction: row;
align-items: center;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
.profile_pic{
   width: 50%;
   height: 25%;
   background-color: black;
   color: white;
   font-weight: bold;
   display: flex;
   flex-direction: row;

}
.profile_pic{
   background-color: black;
   color: white;
   font-weight: bold;
   display: flex;
   flex-direction: row;

}
#profile_pic_big{
  width: 50%;
  height: 25%;
}
#first_letter_big{
  font-size: 500%;
}
.box{
    border: 5px;
    border-color: red;
    height: 30%;
    /* height: 100%; */
}
.first_letter{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  color: white;
}
.profile_description{
  display: flex;
  flex-direction: column;
  width: 60%;
}

h1{
  text-align: center;

}
span{
  color: white;
}
#post_container{
  display: flex !important;
  flex-direction: row !important;
  width: 50%;
  margin: auto !important;
  text-align: center !important;
  /* margin: 0 !important; */
  align-self: center;
  opacity: 0.7;
  justify-content: space-between !important;
}
#content_title{
  color: #6B7D7D;
  display: flex !important;
  flex-direction: row !important;
  align-self: center;
  text-align: center;
  width: 100%;
  /* font-size: */
}
#content_info{
  display: flex !important;
  flex-direction: row !important;
  align-self: center;
  text-align: center;
  width: 100%;
}
.line{
  border-left: 4px solid gray;
  height:  auto;
  display: flex !important;
  flex-direction: row !important;
  margin: 0;
}
#contain_posts{
  display: flex !important;
  flex-direction: row !important;
  align-self: center;
  width: 50%;
  background-color: #6B7D7D !important;
  justify-content: space-between;
  /* border-radius: 15px; */
  /* margin: 0 !important; */
  /* align-items: center !important;*/
}
#post_num{
  color: #9a8262;
  margin: 0;
  display: flex !important;
  flex-direction: row !important;

}
#head_info{
  display: flex !important;
  flex-direction: row !important;
  width: 100%;
  justify-content: flex-start !important;
}

#space_div{
  width: 3%;
  margin: 0;
}
#title-content{
  display: flex !important;
  flex-direction: column !important;
  margin: 0;
  /* justify-content: flex-end !important; */
}
.box{
    border: 5px;
    border-color: red;
    height: 5%;
    /* height: 100%; */
}
/* form{ */
  /* margin: 0 !important;
} */
