
.container{
  width: 300px;
  margin-left: auto ;
  margin-right: auto ;
  line-height: 300%;
  text-align: center;
  border-radius: 25px;
  border: 5px solid #8FBB99;
  /* box-sizing: border-box */

}
