body{
  font-family: 'Domine', serif;
  background-color: beige;
}
h1{
  text-align: center;
}
.container{
  width: 1000px;
  margin-left: auto ;
  margin-right: auto ;
  line-height: 300%;
  text-align: center;
  border-radius: 25px;
  border: 5px solid lightblue;
  /* box-sizing: border-box */

}
header{
  text-align: right;
  font-size: 200%;
  font-style: italic;
  color: lightblue;
  /* text-decoration-style: wavy; */


}
.header{
  text-decoration: underline;
}
.postBox{
  border: 2px solid lightblue;
  padding: 1px;

}
.Feed_post{
  /* รท */
  /* border-style: groove;
  border-color: lightblue;
  border-width: thick; */
}
#title{
  text-align: left;
  font-style: italic;
  font-weight:bolder;
  font-size: 20px;
}
#content{
  text-align: justify;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
}
